// bower:scss
// endbower

footer {
  ul {
    &.footer-nav.info {
      li {
        color: #747474;
      }
    }
    &.footer-class {
      li {
        color: #747474;
      }
    }
  }

}

.content {
  // font-family: 'cwtexyen','Arial';
  position: relative;
  height: auto;
  width: 100%;
  // background: lightblue;
  .hero {
    position: relative;
    width: 100%;
    height: auto;
    // background: gold;
    img {
      position: relative;
      width: 100vw;
    }
  }
  .landing_info {
    position: relative;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      &.highlight {
        background: #FCEBF1;
      }
      &.ready_text {
        color: red;
        text-align: center;
      }

    }
    .button_wrapper{
      margin-top: 20px;
      margin-bottom: 20px;
      button {
        width: 239px;
        height: 54px;
        border: none;

      }
      .signup_btn {
        background: no-repeat center url(../images/signup_btn.png);
      }
      .skip_btn {
        background: no-repeat center url(../images/skip_btn.png);
      }
    }
  }
  .landing_card {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    // background: gold;

    .card {
      position: relative;
      img {
        width: 100%;
        z-index: -1;
      }

      p.info{
        margin-bottom: 10px;
        text-indent: 2em;
      }
      .pink_text {
        color:#E7388F;
      }
      .green_text {
        color:#3E8C65;
      }
      .card_text_1 {
        text-align: left;
        position: absolute;
        width: calc(100% - 25%);
        height: 47%;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        // &::-webkit-scrollbar {
        //     display: none;
        // }
      }
      .card_text_2 {
        text-align: left;
        position: absolute;
        width: calc(100% - 25%);
        height: 47%;
        top: 32%;
        left: 47%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        // &::-webkit-scrollbar {
        //     display: none;
        // }
      }
      // background: no-repeat center url(../images/card_1.jpg);
      // background-size: cover;
      // height: 468px;
    }

  }
}
