// bower:scss
// endbower

footer {
  ul {
    &.footer-nav.info {
      li {
        color: #747474;
      }
    }
    &.footer-class {
      li {
        color: #747474;
      }
    }
  }

}

button {
  &:focus {
    outline: none;
  }
}
.content {
  position: relative;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  &:after {
    content: '';
    z-index: -2;
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
    background:repeat center url(../images/background_texture.png);
    background-size: contain;

  }
  .background {
    position: absolute;;
    z-index: -1;
    width: 100%;
  }
  .banner {
    height: 300px;
    width:70%;
    // background: no-repeat center url(../images/instruction-web.png);
  }
  .question {
    position: relative;
    width: 100%;
    height: auto;
    // background:lightblue;
    padding: 0 15%;
    .main_question {
      font-size: 20px;
      text-align: left;
      font-weight: bold;
    }
    .sub_question_wrapper {
      margin-bottom: 10px;
    }
    .sub_question {
      text-align: left;
      font-weight: lighter;
    }
    .sub_answer {
      // text-align:left;
      font-weight: lighter;
    }
    .red_text {
      color: red;
    }
    .button_area {
      width: 100%;
      height: auto;
      margin-top: 30px;
      // background: lightblue;
      button {
        width:102px;
        height: 119px;
        border:none;
      }
      .next_btn {
        background: no-repeat center url(../images/next_btn.png);
      }
      .finish_btn {
        background: no-repeat center url(../images/finish_btn.png);
      }
    }

  }
}
@media (min-width:320px) {
  .content {
    .banner {
      width: 54%;
      margin-top: -35px;
      height: 180px;
      background: no-repeat center url(../images/instruction-phone.png);
    }
    .question {
      .sub_answer {
        text-align: left;
      }
    }
  }
}
@media (min-width:481px) {
}
@media (min-width:641px) {
  .content {
    .banner {
      width: 52%;
      height: 220px;
      margin-top: 0px;
      background: no-repeat center url(../images/instruction-tablet.png);
    }
    .question {
      .sub_answer {
        text-align: left;
      }
    }
  }
}
@media (min-width:961px) {
  .content {
    .banner {
      width: 52%;
      height: 250px;
      background: no-repeat center url(../images/instruction-tablet.png);
      margin-top: 0px;
    }
    .question {
      .sub_answer {
        text-align: left;
      }
    }
  }
}
@media (min-width:1025px) {
  .content {
    .banner {
      width: 52%;
      height: 300px;
      background: no-repeat center url(../images/instruction-web.png);
      margin-top: 0px;
    }
    .question {
      .sub_answer {
        text-align: center;
      }
    }
  }
}
@media (min-width:1281px) {
  .content {
    .banner {
      width: 52%;
      height: 400px;
      background: no-repeat center url(../images/instruction-web.png);
      margin-top: 0px;
    }
    .question {
      .sub_answer {
        text-align: center;
      }
    }
    }
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 15px;
}
input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: transparent;
    border: grey 2px solid;
    // box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: grey;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
input[type=radio] {
    display: none;
}
label:before {
    border-radius: 100%;
}
input[type=radio]:checked + label:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 14px;
    text-align: center;
    line-height: 10px;
}
